/src/
/public/
/.idea/
/tests/
.editorconfig
.eslint.rc
.gitignore
package.json
package-lock.json
jest.config.js
tsconfig.json
tsconfig.release.json
vite.config.ts
vite.config.js
webpack.config.js
tailwind.config.js
postcss.config.js
